{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">

					<div class="about">

						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Who We Are </h3>
									<p>Minghao Xue</p>
                                    	<p>ZaiWei Liu</p>
								</div>
								<a href="#" class="btn btn-color">Read more</a>
							</div>
						</div>
						<br>

						 <div class="row">
							<div class="col-md-6">
								<img src="{% static 'img/section-image-1.png' %}" alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<p>We are graduate students from Johns Hopkins University. Looking back to our own college application, we always feel that the lack of information really brought us some unnecessary trouble, and sometimes, even anxiety. So, with the idea that information should be as reachable as possible for college applicants, this website was created. For now, we only support the records and predictions for 10 UC campuses but more are expected to come in the very near future. Hope you all find it useful. </p>


							</div>
						</div>
						<br/>
						<hr>
						<br>
						<div class="row">
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Why Choose Us?</span></h3>
								</div>
								<p> Most comprehensive admission records for UC since 1990.
									Advanced data mining model with high accuracy.
									Designed online certificates to improve your chances of admission.
									We promise to protect your personal information and it will only be available to yourself.
									</p>
							</div>


							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Our Expertise</span></h3>
								</div>
								<h6>Web Development</h6>
								<div class="progress pb-sm">
								  <!-- White color (progress-bar-white) -->
								  <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>Designing</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>User Experience</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>Development</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
							</div>

							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Join Us</span></h3>
								</div>
								<p>College is an important stage in our life. And we do believe that our work will help students make a lifelong decision that they will never regret. If you also share our faith, please contact us. We welcome experience data scientists, software engineers and product managers.</p>
							</div>

						</div>


						<hr>
						<br>
						<!-- Our Team starts -->

						<!-- Heading -->
						<div class="block-heading-six">
							<h3 class="bg-color">Our Team</h3>
						</div>
						<br>

						<!-- Our team starts -->

						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
										<!-- Name -->
										<h4>ZaiWei</h4>
										<span class="deg">Creative</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
										<!-- Name -->
										<h4>Minghao</h4>
										<span class="deg">Programmer</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
										<!-- Name -->
										<h4>Person0</h4>
										<span class="deg">CEO</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
										<!-- Name -->
										<h4>person1</h4>
										<span class="deg">Manager</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Our team ends -->


					</div>

				</div>
	</section>

  {% endblock %}
