{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section id="featured">

	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static 'img/slides/uc0.jpg' %}" alt="" />
                <div class="flex-caption">
                   <div class="item_introtext">
					<strong>Admission Record</strong>
					<p>All application cases since 1994</p> </div>
                </div>
              </li>
              <li>
                <img src="{% static 'img/slides/uc1.jpg' %}" alt="" />
                <div class="flex-caption">
                     <div class="item_introtext">
					<strong>Admission Prediction</strong>
					<p>Get your chances with our advanced data-mining model</p> </div>
                </div>
              </li>
              <li>
                <img src="{% static 'img/slides/uc2.jpg'%}" alt="" />
                <div class="flex-caption">
                     <div class="item_introtext">
					<strong>Prepare for your application</strong>
					<p>Get online courses certificates here</p> </div>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->

	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="aligncenter"><h1 class="aligncenter">Our Featured Functions</h1><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>Through our website, not only will you get a detailed history record of the past admission, but also, by joining our membership, you can see your chances of approval based on our advanced data-mining model and receive a list of actions to take to facilitate your application. Furthermore, thousands of online certificates are awaiting your exploration and will definitely enhance your skills and application!
                </div>
			</div>
		</div>
	</div>
	</section>
	<section id="content">


	<div class="container">
			<div class="row">
		<div class="skill-home"> <div class="skill-home-solid clearfix">
		<div class="col-md-3 text-center">
		<span class="icons c1"><i class="fa fa-trophy"></i></span> <div class="box-area">
		<h3><a href="{% url 'prediction' %}">School Perdiction</a></h3> <p>Get your school with our advanced data-mining model</p></div>
		</div>
		<div class="col-md-3 text-center">
		<span class="icons c2"><i class="fa fa-picture-o"></i></span> <div class="box-area">
		<h3><a href="{% url 'chance' %}">Admission Chance</a></h3><p>Get your chances with our advanced data-mining model</p></div>
		</div>
		<div class="col-md-3 text-center">
		<span class="icons c3"><i class="fa fa-desktop"></i></span> <div class="box-area">
		<h3><a href="{% url 'history' %}">History Admission</a></h3> <p>All application cases since 1990</p></div>
		</div>
		<div class="col-md-3 text-center">
		<span class="icons c4"><i class="fa fa-globe"></i></span> <div class="box-area">
		<h3><a href="https://www.universityofcalifornia.edu/infocenter/admissions-source-school">Offiical Tool</a></h3> <p>These tables present information on UC’s Applicants, Admits, and Enrollees. Freshman applicant counts are presented for fall and transfer counts are presented for the full academic year.</p>
		</div></div>
		</div></div>
		</div>


	</div>
	</section>

	<div class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p>I used this website 3 months earlier before my application, and it really helped me build up my confidence and skills. Now, I’m honored to be one of the class of 2024 in UCLA!</p>
                        <p>
                            <b>- Dani Ni -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>I was always worried about not doing everything I can for my application. Now with this website, I can make practical decisions with the comprehensive application records and the state-of-art prediction tool. It’s amazing! </p>
                        <p>
                            <b>- Shreya Singh -</b>
                        </p>
                    </div>
                    <div class="item active">
                        <p>I had a passion for computer science since high school. With the online certificates from this website, I can show my passion to the admission officer in a more direct and pragmatic way. Many thanks!</p>
                        <p>
                            <b>- Daisy Johnson -</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="courses">
<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="aligncenter"><h2 class="aligncenter">Perdiction Factors We Consider</h2><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>To make a more precise prediction, you are recommended to tell us as many factors as you could, including your GPA, SAT scores, the AP courses you took, your race, high school name and your hometown. We promised your privacy protected and your record only available to yourself.</div>
			</div>
		</div>
<div class="row">
            <div class="col-md-4">
			<div class="textbox">
                <h3>GPA</h3>
				<p>High school level GPA</p>
            </div> </div>
            <div class="col-md-4">
			<div class="textbox">
                  <h3>SAT</h3>
				<p>High school level SAT</p>
            </div> </div>
			<div class="col-md-4">
			<div class="textbox">
                  <h3>AP Courses</h3>
				<p>High school level ap courses count</p>
            </div> </div>
        </div>
		<div class="row">
            <div class="col-md-4">
			<div class="textbox">
                <h3>Race</h3>
				<p>Determine race influnece</p>
            </div> </div>
            <div class="col-md-4">
			<div class="textbox">
                  <h3>High School</h3>
				<p>Determine high school rank influnece</p>
            </div> </div>
			<div class="col-md-4">
			<div class="textbox">
                  <h3>Others</h3>
				<p>Other factors like research experience and PS</p>
            </div> </div>
        </div>
</div>
</section>

{% endblock %}
